{% extends "padre.html "%}
{% load static %}

{% block contenido %}
    <header class="masthead" >
        <div class= "container" style="color:black; opacity: 100">
            <h1 class="text-center">Base de datos</h1>
            <p></p>
            <p></p>
            <h5 class="text-center">Alumnos</h5>
        </div>
    </header>
    <div class="container">
        <div class="mb-3">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>nombre</th>
                        <th>dni</th>
                    </tr>
                </thead>
                <tbody>
                    {% for n in alumnos %}
                    <tr>
                        <th>{{n.id}}</th>
                        <th>{{n.nombre}}</th>
                        <th>{{n.dni}}</th>
                        <td><a class="btn btn-danger btn-sm"href="{% url 'alumno_eliminar' n.id %}">X</a></td>
                        <td><a class="btn btn-danger btn-sm"href="{% url 'alumno_editar' n.id %}">Editar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-primary" href="alumno_alta">Nuevo Alumno</a>
        <a class="btn btn-outline-primary" href="alumno_buscar">Buscador</a>
    </div>
{% endblock %}