{% extends "padre.html "%}
{% load static %}

{% block contenido %}
    <header class="masthead" >
        <div class= "container" style="color:black; opacity: 100">
            <h1 class="text-center">Buscador</h1>
            <p></p>
            <p></p>
            <h5 class="text-center">Cursos</h5>
        </div>
    </header>
    <main>
        <p></p>
        <div class="container">
            <div class="form-text">
                    <p></p>
                    <p class="text-center">Ingrese un curso o letra para realizar la busqueda</p>
                    <a class="btn btn-outline-primary" href="curso_buscar">Volver a buscar</a>
            </div>
        </div>
        </main>

{% endblock %}